@media all and (max-width: 991px) {
  .banner-section .container .banner-area .banner-left-area h1 {
    font-size: 42px;
    line-height: 48px;
  }
  .banner-section .container .banner-area .banner-left-area .h1-svg h1 span {
    font-size: 60px;
    line-height: 40px;
  }
  .banner-section .container .banner-area .banner-left-area ul {
    margin-top: 30px;
  }
  .banner-section .container .banner-area .banner-left-area ul li {
    font-size: 15px;
  }
  .banner-section .container .banner-area .banner-left-area ul li svg {
    width: 22px;
  }
  .banner-section .container .banner-area .banner-left-area .banner-btn {
    font-size: 16px;
  }
  .banner-section .container .banner-area .banner-right-area .right-image {
    top: 50px;
    left: 0;
  }
  .banner-section .container .banner-area .banner-right-area .right-image .student-box {
    padding: 15px 17px 13px;
  }
  .banner-section .container .banner-area .banner-right-area .right-image .student-box h2 {
    font-size: 52px;
  }
  .banner-section .container .banner-area .banner-right-area .right-image .student-box p {
    font-weight: 500;
    font-size: 15px;
  }
}
@media all and (max-width: 830px) {
  .banner-section .container .banner-area .banner-left-area {
    margin-bottom: 30px;
  }
  .banner-section .container .banner-area .banner-left-area h1 {
    font-size: 45px;
    line-height: 48px;
  }
  .banner-section .container .banner-area .banner-left-area .h1-svg h1 {
    text-align: center;
  }
  .banner-section .container .banner-area .banner-left-area .h1-svg h1 span {
    font-size: 67px;
    line-height: 52px;
  }
  .banner-section .container .banner-area .banner-left-area ul {
    margin-top: 35px;
  }
  .banner-section .container .banner-area .banner-left-area ul li {
    font-size: 15px;
  }
  .banner-section .container .banner-area .banner-left-area ul li svg {
    width: 22px;
  }
  .banner-section .container .banner-area .banner-left-area .banner-btn {
    font-size: 16px;
  }
  .banner-section .container .banner-area .banner-right-area .right-image .student-box {
    right: -10px;
  }
}
@media all and (max-width: 767px) {
  .banner-section .container .banner-area .banner-right-area .right-image {
    position: relative;
    width: 90%;
    margin: 40px auto 0;
    top: 20px;
  }
  .banner-section .container .banner-area .banner-right-area .right-image .student-box {
    top: -50px;
    right: -20px;
  }
}
@media all and (max-width: 575px) {
  .banner-section .container {
    width: 92%;
    margin: auto;
  }
  .banner-section .container .banner-area .banner-left-area {
    padding-left: 50px;
  }
  .banner-section .container .banner-area .banner-left-area p {
    margin-bottom: 7px;
  }
  .banner-section .container .banner-area .banner-left-area h1 {
    font-size: 42px;
  }
  .banner-section .container .banner-area .banner-left-area .h1-svg h1 span {
    font-size: 58px;
    line-height: 42px;
  }
  .banner-section .container .banner-area .banner-left-area ul {
    margin-bottom: 8px;
  }
  .banner-section .container .banner-area .banner-left-area ul li {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .banner-section .container .banner-area .banner-left-area ul li svg {
    width: 22px;
  }
  .banner-section .container .banner-area .banner-left-area .banner-btn {
    font-size: 15px;
    padding: 10px 35px;
  }
  .banner-section .container .banner-area .banner-right-area .right-image {
    position: relative;
    width: 80%;
    margin: 40px auto 0;
    top: 20px;
  }
  .banner-section .container .banner-area .banner-right-area .right-image .student-box {
    top: -50px;
    right: -20px;
  }
}
@media all and (max-width: 500px) {
  .banner-section {
    padding: 40px 0;
  }
  .banner-section .container {
    width: 92%;
    margin: auto;
  }
  .banner-section .container .banner-area .banner-left-area {
    padding-left: 30px;
  }
  .banner-section .container .banner-area .banner-left-area p {
    font-size: 15px;
  }
  .banner-section .container .banner-area .banner-left-area h1 {
    font-size: 35px;
  }
  .banner-section .container .banner-area .banner-left-area .h1-svg h1 span {
    font-size: 48px;
    line-height: 42px;
  }
  .banner-section .container .banner-area .banner-left-area ul {
    margin-bottom: 8px;
  }
  .banner-section .container .banner-area .banner-left-area ul li {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .banner-section .container .banner-area .banner-left-area ul li svg {
    width: 18px;
  }
  .banner-section .container .banner-area .banner-left-area .banner-btn {
    font-weight: 500;
  }
  .banner-section .container .banner-area .banner-right-area .right-image .student-box {
    padding: 15px 15px 11px;
    right: -30px;
  }
  .banner-section .container .banner-area .banner-right-area .right-image .student-box h2 {
    font-size: 38px;
    line-height: 28px;
  }
  .banner-section .container .banner-area .banner-right-area .right-image .student-box p {
    font-size: 15px;
  }
}
@media all and (max-width: 450px) {
  .banner-section {
    padding: 40px 0;
  }
  .banner-section .container {
    width: 92%;
    margin: auto;
  }
  .banner-section .container .banner-area .banner-left-area {
    padding-left: 0px;
  }
  .banner-section .container .banner-area .banner-left-area p {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .banner-section .container .banner-area .banner-left-area h1 {
    font-size: 28px;
    line-height: 24px;
  }
  .banner-section .container .banner-area .banner-left-area .h1-svg h1 span {
    font-size: 38px;
    line-height: 32px;
  }
  .banner-section .container .banner-area .banner-left-area ul {
    margin-top: 20px;
    margin-bottom: 8px;
  }
  .banner-section .container .banner-area .banner-left-area ul li {
    font-size: 14px;
    margin-bottom: 0;
  }
  .banner-section .container .banner-area .banner-left-area ul li svg {
    width: 17px;
  }
  .banner-section .container .banner-area .banner-left-area .banner-btn {
    font-weight: 500;
  }
  .banner-section .container .banner-area .banner-right-area .right-image .student-box {
    padding: 15px 15px 11px;
    right: -30px;
  }
  .banner-section .container .banner-area .banner-right-area .right-image .student-box h2 {
    font-size: 32px;
    line-height: 20px;
  }
  .banner-section .container .banner-area .banner-right-area .right-image .student-box p {
    font-size: 14px;
  }
}/*# sourceMappingURL=responsive.css.map */